@import "mixins";

//body {
//  @apply .bg-secondary-background .text-text;
//}

.tw-form-input {
  @apply .leading-3;
}

.tw-form-checkbox {
  border-radius: 0.20rem;
}

.tw-form-checkbox:checked {
  @apply .bg-blue-500;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 80% 80%;
}

.tw-form-radio:checked {
  @apply .bg-blue-500;
}

.tw-form-select {
  @apply .tw-bg-cool-gray-200;
  border: 1px solid #e2e8f0 !important;
  border-radius: 0.375rem !important;
  background-image: none;

  &:hover {
    @apply .tw-bg-cool-gray-300;
    border-color: #cfd8e3 !important;
  }
}

.c-dropdown {
  display: inline-block;
  position: relative;
}

.c-dropdown:after {
  z-index: 10000;
  content: ' ';
  position: absolute;
  top: calc(50% - 4px);
  right: 0.75rem;
  width: 8px;
  height: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
  user-select: none;
  pointer-events: none;
}
