
body {
  // Text
  --craftui-danger-text: var(--craftui-red-800);
  --craftui-dark-text: var(--craftui-gray-800);
  --craftui-info-text: var(--craftui-blue-800);
  --craftui-light-text: var(--craftui-gray-500);
  --craftui-notice-text: var(--craftui-gray-800);
  --craftui-success-text: var(--craftui-green-800);
  --craftui-text-inverse: var(--craftui-white);
  --craftui-text: var(--craftui-black);
  --craftui-warning-text: var(--craftui-orange-800);

  // Backgrounds
  --craftui-danger-background: var(--craftui-red-200);
  --craftui-info-background: var(--craftui-blue-200);
  --craftui-notice-background: var(--craftui-gray-400);
  --craftui-primary-background-gradient-1: rgba(255, 255, 255, 0);
  --craftui-primary-background-gradient-2: rgba(255, 255, 255, 1);
  --craftui-primary-background: var(--craftui-white);
  --craftui-secondary-background: var(--craftui-gray-100);
  --craftui-success-background: var(--craftui-green-200);
  --craftui-warning-background: var(--craftui-orange-200);

  // Separators
  --craftui-danger-separator: var(--craftui-red-400);
  --craftui-info-separator: var(--craftui-blue-400);
  --craftui-notice-separator: var(--craftui-gray-500);
  --craftui-opaque-separator: var(--craftui-gray-400);
  --craftui-separator: var(--craftui-gray-300);
  --craftui-success-separator: var(--craftui-green-400);
  --craftui-warning-separator: var(--craftui-orange-400);

  // Field
  --craftui-field-background: var(--craftui-primary-background);
  --craftui-field-border: var(--craftui-gray-500);
  --craftui-field-disabled-background: var(--craftui-gray-100);
  --craftui-field-disabled-border: var(--craftui-gray-500);

  // Icon
  --craftui-icon: var(--craftui-gray-500);

  // UI
  --craftui-support-danger: var(--craftui-red-600);
  --craftui-support-danger-text: var(--craftui-text-inverse);
  --craftui-danger: var(--craftui-red-500);
  --craftui-shadow-1: var(--craftui-gray-400);
  --craftui-shadow-2: var(--craftui-gray-200);
  --craftui-shadow-3: var(--craftui-gray-400);

  // Interactive
  --craftui-interactive-primary: var(--craftui-blue-500);
  --craftui-interactive-primary-active: var(--craftui-blue-800);
  --craftui-interactive-primary-hover: var(--craftui-blue-600);
  --craftui-interactive-primary-text: var(--craftui-white);

  --craftui-interactive-secondary: var(--craftui-gray-200);
  --craftui-interactive-secondary-active: var(--craftui-gray-400);
  --craftui-interactive-secondary-hover: var(--craftui-gray-300);
  --craftui-interactive-secondary-text: var(--craftui-black);

  --craftui-interactive-tertiary: var(--craftui-gray-600);
  --craftui-interactive-tertiary-active: var(--craftui-gray-900);
  --craftui-interactive-tertiary-hover: var(--craftui-gray-700);
  --craftui-interactive-tertiary-text: var(--craftui-white);

  --craftui-interactive-danger: var(--craftui-red-600);
  --craftui-interactive-danger-active: var(--craftui-red-800);
  --craftui-interactive-danger-hover: var(--craftui-red-700);
  --craftui-interactive-danger-text: var(--craftui-white);

  --craftui-interactive-success: var(--craftui-green-500);
  --craftui-interactive-success-active: var(--craftui-green-800);
  --craftui-interactive-success-hover: var(--craftui-green-600);
  --craftui-interactive-success-text: var(--craftui-white);

  --craftui-interactive-link: var(--craftui-blue-600);
  --craftui-interactive-link-hover: var(--craftui-blue-800);

  --craftui-interactive-nav-active-background: var(--craftui-gray-300);
  --craftui-interactive-nav-disabled-text: var(--craftui-gray-500);
  --craftui-interactive-nav-hover-text: var(--craftui-black);
  --craftui-interactive-nav-text: var(--craftui-gray-800);

  // High contrast
  &.high-contrast,
  &.theme-dark.high-contrast {
    --craftui-separator: var(--craftui-gray-500);
    --craftui-opaque-separator: var(--craftui-gray-500);
  }
}


// Dark mode
body.theme-dark {
  --craftui-primary-background-gradient-1: rgba(26, 32, 44, 0);
  --craftui-primary-background-gradient-2: rgba(26, 32, 44, 1);
  --craftui-primary-background: var(--craftui-gray-100);
  --craftui-secondary-background: var(--craftui-gray-200);
  --craftui-field-background: var(--craftui-gray-200);
  --craftui-field-disabled-background: var(--craftui-gray-300);

  --craftui-support-danger: var(--craftui-red-400);
  --craftui-support-danger-text: var(--craftui-text);
  --craftui-interactive-danger: var(--craftui-red-400);
  --craftui-interactive-danger-active: var(--craftui-red-200);
  --craftui-interactive-danger-hover: var(--craftui-red-300);
  --craftui-interactive-danger-text: var(--craftui-black);

  --craftui-interactive-primary-text: var(--craftui-black);
  --craftui-opaque-separator: var(--craftui-white);
  --craftui-shadow-1: var(--craftui-white);
  --craftui-shadow-2: var(--craftui-100);
  --craftui-shadow-3: var(--craftui-gray-400);

  &.high-contrast {
  }
}
