
body {
  supported-color-schemes: light only;

  /* Tailwind CSS 1.0 colors (default/light) */
  --craftui-transparent: transparent;
  --craftui-black: #000;
  --craftui-white: #fff;
  --craftui-gray-100: rgba(247, 250, 252, 1);
  --craftui-gray-200: #edf2f7;
  --craftui-gray-300: #e2e8f0;
  --craftui-gray-400: #cbd5e0;
  --craftui-gray-500: #a0aec0;
  --craftui-gray-600: #718096;
  --craftui-gray-700: #4a5568;
  --craftui-gray-800: #2d3748;
  --craftui-gray-900: #1a202c;
  --craftui-red-100: #fff5f5;
  --craftui-red-200: #fed7d7;
  --craftui-red-300: #feb2b2;
  --craftui-red-400: #fc8181;
  --craftui-red-500: #f56565;
  --craftui-red-600: #e53e3e;
  --craftui-red-700: #c53030;
  --craftui-red-800: #9b2c2c;
  --craftui-red-900: #742a2a;
  --craftui-orange-100: #fffaf0;
  --craftui-orange-200: #feebc8;
  --craftui-orange-300: #fbd38d;
  --craftui-orange-400: #f6ad55;
  --craftui-orange-500: #ed8936;
  --craftui-orange-600: #dd6b20;
  --craftui-orange-700: #c05621;
  --craftui-orange-800: #9c4221;
  --craftui-orange-900: #7b341e;
  --craftui-yellow-100: #fffff0;
  --craftui-yellow-200: #fefcbf;
  --craftui-yellow-300: #faf089;
  --craftui-yellow-400: #f6e05e;
  --craftui-yellow-500: #ecc94b;
  --craftui-yellow-600: #d69e2e;
  --craftui-yellow-700: #b7791f;
  --craftui-yellow-800: #975a16;
  --craftui-yellow-900: #744210;
  --craftui-green-100: #f0fff4;
  --craftui-green-200: #c6f6d5;
  --craftui-green-300: #9ae6b4;
  --craftui-green-400: #68d391;
  --craftui-green-500: #48bb78;
  --craftui-green-600: #38a169;
  --craftui-green-700: #2f855a;
  --craftui-green-800: #276749;
  --craftui-green-900: #22543d;
  --craftui-teal-100: #e6fffa;
  --craftui-teal-200: #b2f5ea;
  --craftui-teal-300: #81e6d9;
  --craftui-teal-400: #4fd1c5;
  --craftui-teal-500: #38b2ac;
  --craftui-teal-600: #319795;
  --craftui-teal-700: #2c7a7b;
  --craftui-teal-800: #285e61;
  --craftui-teal-900: #234e52;
  --craftui-blue-100: #ebf8ff;
  --craftui-blue-200: #bee3f8;
  --craftui-blue-300: #90cdf4;
  --craftui-blue-400: #63b3ed;
  --craftui-blue-500: #4299e1;
  --craftui-blue-600: #3182ce;
  --craftui-blue-700: #2b6cb0;
  --craftui-blue-800: #2c5282;
  --craftui-blue-900: #2a4365;
  --craftui-indigo-100: #ebf4ff;
  --craftui-indigo-200: #c3dafe;
  --craftui-indigo-300: #a3bffa;
  --craftui-indigo-400: #7f9cf5;
  --craftui-indigo-500: #667eea;
  --craftui-indigo-600: #5a67d8;
  --craftui-indigo-700: #4c51bf;
  --craftui-indigo-800: #434190;
  --craftui-indigo-900: #3c366b;
  --craftui-purple-100: #faf5ff;
  --craftui-purple-200: #e9d8fd;
  --craftui-purple-300: #d6bcfa;
  --craftui-purple-400: #b794f4;
  --craftui-purple-500: #9f7aea;
  --craftui-purple-600: #805ad5;
  --craftui-purple-700: #6b46c1;
  --craftui-purple-800: #553c9a;
  --craftui-purple-900: #44337a;
  --craftui-pink-100: #fff5f7;
  --craftui-pink-200: #fed7e2;
  --craftui-pink-300: #fbb6ce;
  --craftui-pink-400: #f687b3;
  --craftui-pink-500: #ed64a6;
  --craftui-pink-600: #d53f8c;
  --craftui-pink-700: #b83280;
  --craftui-pink-800: #97266d;
  --craftui-pink-900: #702459;
}

body.theme-dark {
  supported-color-schemes: dark only;

  /* Tailwind CSS 1.0 colors (dark) */
  --craftui-black: #fff;
  --craftui-white: #000;
  --craftui-gray-100: #1a202c;
  --craftui-gray-200: #2d3748;
  --craftui-gray-300: #4a5568;
  --craftui-gray-400: #718096;
  --craftui-gray-500: #a0aec0;
  --craftui-gray-600: #cbd5e0;
  --craftui-gray-700: #e2e8f0;
  --craftui-gray-800: #edf2f7;
  --craftui-gray-900: #f7fafc;
  --craftui-red-100: #742a2a;
  --craftui-red-200: #9b2c2c;
  --craftui-red-300: #c53030;
  --craftui-red-400: #e53e3e;
  --craftui-red-500: #f56565;
  --craftui-red-600: #fc8181;
  --craftui-red-700: #feb2b2;
  --craftui-red-800: #fed7d7;
  --craftui-red-900: #fff5f5;
  --craftui-orange-100: #7b341e;
  --craftui-orange-200: #9c4221;
  --craftui-orange-300: #c05621;
  --craftui-orange-400: #dd6b20;
  --craftui-orange-500: #ed8936;
  --craftui-orange-600: #f6ad55;
  --craftui-orange-700: #fbd38d;
  --craftui-orange-800: #feebc8;
  --craftui-orange-900: #fffaf0;
  --craftui-yellow-100: #744210;
  --craftui-yellow-200: #975a16;
  --craftui-yellow-300: #b7791f;
  --craftui-yellow-400: #d69e2e;
  --craftui-yellow-500: #ecc94b;
  --craftui-yellow-600: #f6e05e;
  --craftui-yellow-700: #faf089;
  --craftui-yellow-800: #fefcbf;
  --craftui-yellow-900: #fffff0;
  --craftui-green-100: #22543d;
  --craftui-green-200: #276749;
  --craftui-green-300: #2f855a;
  --craftui-green-400: #38a169;
  --craftui-green-500: #48bb78;
  --craftui-green-600: #68d391;
  --craftui-green-700: #9ae6b4;
  --craftui-green-800: #c6f6d5;
  --craftui-green-900: #f0fff4;
  --craftui-teal-100: #234e52;
  --craftui-teal-200: #285e61;
  --craftui-teal-300: #2c7a7b;
  --craftui-teal-400: #319795;
  --craftui-teal-500: #38b2ac;
  --craftui-teal-600: #4fd1c5;
  --craftui-teal-700: #81e6d9;
  --craftui-teal-800: #b2f5ea;
  --craftui-teal-900: #e6fffa;
  --craftui-blue-100: #2a4365;
  --craftui-blue-200: #2c5282;
  --craftui-blue-300: #2b6cb0;
  --craftui-blue-400: #3182ce;
  --craftui-blue-500: #4299e1;
  --craftui-blue-600: #63b3ed;
  --craftui-blue-700: #90cdf4;
  --craftui-blue-800: #bee3f8;
  --craftui-blue-900: #ebf8ff;
  --craftui-indigo-100: #3c366b;
  --craftui-indigo-200: #434190;
  --craftui-indigo-300: #4c51bf;
  --craftui-indigo-400: #5a67d8;
  --craftui-indigo-500: #667eea;
  --craftui-indigo-600: #7f9cf5;
  --craftui-indigo-700: #a3bffa;
  --craftui-indigo-800: #c3dafe;
  --craftui-indigo-900: #ebf4ff;
  --craftui-purple-100: #44337a;
  --craftui-purple-200: #553c9a;
  --craftui-purple-300: #6b46c1;
  --craftui-purple-400: #805ad5;
  --craftui-purple-500: #9f7aea;
  --craftui-purple-600: #b794f4;
  --craftui-purple-700: #d6bcfa;
  --craftui-purple-800: #e9d8fd;
  --craftui-purple-900: #faf5ff;
  --craftui-pink-100: #702459;
  --craftui-pink-200: #97266d;
  --craftui-pink-300: #b83280;
  --craftui-pink-400: #d53f8c;
  --craftui-pink-500: #ed64a6;
  --craftui-pink-600: #f687b3;
  --craftui-pink-700: #fbb6ce;
  --craftui-pink-800: #fed7e2;
  --craftui-pink-900: #fff5f7;
}