/* Variables */

@import "tailwind-system-colors";


/* Fields */

.c-field {
  margin-bottom: 1rem;
}

.c-field.mono input,
.c-field.mono textarea {
  @apply .font-mono;
}

.invalid-feedback {
  @apply .text-red-500 .text-sm .mt-2 .mb-4;
}

.instructions {
  color: #8f98a3;
}

label {
  @apply .inline-block .mb-1;
}

.c-field {
  .checkbox {
    @apply .mr-2;
  }
}

select {
  @apply .border .border-separator .bg-primary-background;
  height: calc(2.25rem + 2px);
}


/* Inputs */

input[type="email"],
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="number"],
textarea {
  @apply .bg-field-background .border .border-field-separator .px-3 py-2 .rounded .block .leading-tight;

  &:disabled,
  &[readonly] {
    @apply .bg-field-disabled-background .border-field-disabled-separator;
  }

  &.is-invalid {
    @apply .border-danger;
  }

  &::placeholder {
    @apply .text-text;
  }
}

input[type="number"] {
  width: 60px;
}


//.theme-dark {
//  input[type="email"],
//  input[type="text"],
//  input[type="password"],
//  input[type="tel"],
//  input[type="url"],
//  input[type="number"],
//  textarea {
//    @apply .bg-black .text-white;
//
//    &:disabled,
//    &[readonly] {
//      @apply .bg-grey-lightest;
//    }
//  }
//}