/* Fields */

.c-field {
  margin-bottom: 1rem;
}

.c-field.mono input,
.c-field.mono textarea {
  @apply .font-mono;
}

.invalid-feedback {
  @apply .text-red-500 .text-sm .mt-2 .mb-4;
}

.instructions {
  color: #8f98a3;
}

label {
  @apply .inline-block .mb-1;
}

.c-field {
  .checkbox {
    @apply .mr-2;
  }
}

select {
  @apply .border .border-gray-400 .bg-white;
  height: calc(2.25rem + 2px);
}


/* Inputs */

input[type="email"],
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="number"],
textarea {
  @apply .bg-white .border .border-gray-500 .p-2 .rounded .block;

  &:disabled,
  &[readonly] {
    @apply .bg-gray-100;
  }

  &.is-invalid {
    @apply .border-red-500;
  }
}

input[type="number"] {
  width: 60px;
}
