@tailwind base;
@tailwind components;
@import "../../../src/sass/mixins";
@import "../../../src/sass/components";

body {
  color: var(--craftui-text);
}

body {
  padding: 2rem;
}

body.rtl {
  direction: rtl;
}

@tailwind utilities;
